<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>中</string>
			<string>中</string>
			<string>过</string>
			<string>未</string>
			<string>头</string>
			<string>类</string>
			<string>没</string>
			<string>腮</string>
			<string>行</string>
			<string>迷</string>
			<string>子</string>
			<string>帅</string>
			<string>骨</string>
			<string>锕</string>
			<string>起</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>骨头迷</string>
		<key>icon</key>
		<string>0</string>
		<key>title</key>
		<string>葬仪屋</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>托</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>中</string>
			<string>的</string>
			<string>过</string>
			<string>未</string>
			<string>无</string>
			<string>类</string>
			<string>没</string>
			<string>腮</string>
			<string>行</string>
			<string>向</string>
			<string>子</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>起</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>托腮</string>
		<key>icon</key>
		<string>1</string>
		<key>title</key>
		<string>谢尔</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>中</string>
			<string>的</string>
			<string>水</string>
			<string>未</string>
			<string>小</string>
			<string>类</string>
			<string>没</string>
			<string>腮</string>
			<string>行</string>
			<string>溺</string>
			<string>哥</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>哥</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>溺水小哥哥</string>
		<key>icon</key>
		<string>2</string>
		<key>title</key>
		<string>谢尔</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>中</string>
			<string>战</string>
			<string>过</string>
			<string>未</string>
			<string>无</string>
			<string>类</string>
			<string>没</string>
			<string>腮</string>
			<string>对</string>
			<string>向</string>
			<string>子</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>起</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>对战</string>
		<key>icon</key>
		<string>3</string>
		<key>title</key>
		<string>少爷最高</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>画</string>
			<string>的</string>
			<string>过</string>
			<string>未</string>
			<string>无</string>
			<string>类</string>
			<string>没</string>
			<string>插</string>
			<string>行</string>
			<string>向</string>
			<string>子</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>起</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>插画</string>
		<key>icon</key>
		<string>4</string>
		<key>title</key>
		<string>生日快乐</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>喝</string>
			<string>的</string>
			<string>过</string>
			<string>未</string>
			<string>无</string>
			<string>类</string>
			<string>没</string>
			<string>腮</string>
			<string>行</string>
			<string>向</string>
			<string>子</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>茶</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>喝茶</string>
		<key>icon</key>
		<string>5</string>
		<key>title</key>
		<string>花园</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>拖</string>
			<string>内</string>
			<string>为</string>
			<string>个</string>
			<string>二</string>
			<string>中</string>
			<string>的</string>
			<string>过</string>
			<string>未</string>
			<string>无</string>
			<string>类</string>
			<string>草</string>
			<string>腮</string>
			<string>行</string>
			<string>向</string>
			<string>地</string>
			<string>帅</string>
			<string>吃</string>
			<string>锕</string>
			<string>起</string>
			<string>岁</string>
		</array>
		<key>answer</key>
		<string>草地</string>
		<key>icon</key>
		<string>6</string>
		<key>title</key>
		<string>飞呀么飞</string>
	</dict>
</array>
</plist>
