<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>想买，嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎0</string>
		<key>title</key>
		<string>车牌0</string>
		<key>cars</key>
		<array>
			<string>车0.1</string>
			<string>车0.2</string>
			<string>车0.3</string>
			<string>车0.4</string>
			<string>车0.5</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>想买，嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎1</string>
		<key>title</key>
		<string>车牌1</string>
		<key>cars</key>
		<array>
			<string>车1.1</string>
			<string>车1.2</string>
			<string>车1.3</string>
			<string>车1.4</string>
			<string>车1.5</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>想买，嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎2</string>
		<key>title</key>
		<string>车牌2</string>
		<key>cars</key>
		<array>
			<string>车2.1</string>
			<string>车2.2</string>
			<string>车2.3</string>
			<string>车2.4</string>
			<string>车2.5</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>想买，嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎3</string>
		<key>title</key>
		<string>车牌3</string>
		<key>cars</key>
		<array>
			<string>车3.3</string>
			<string>车3.2</string>
			<string>车3.3</string>
			<string>车3.4</string>
			<string>车3.5</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>想买，嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎4</string>
		<key>title</key>
		<string>车牌4</string>
		<key>cars</key>
		<array>
			<string>车4.1</string>
			<string>车4.2</string>
			<string>车4.3</string>
			<string>车4.4</string>
			<string>车4.5</string>
		</array>
	</dict>
</array>
</plist>
