<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>你能能能</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>哈哈哈哈</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>南京南京南京南京南京南京南京南京家年级九年级呢仅仅你就那几年几年你就那几集。你就几年几年简介你就那句你几年几年几年键你就那几年键你就那几年几年键你就你几年几年键你就那几年键你几年键你就那几年键你就那几年键年键键年键年键你键年键你键年键</string>
		<key>icon</key>
		<string>3</string>
		<key>name</key>
		<string>哈哈哈哈</string>
		<key>vip</key>
		<integer>0</integer>
		<key>picture</key>
		<string>4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>5</string>
		<key>name</key>
		<string>你奶奶</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子的点点滴滴点点滴滴点点滴滴点点滴滴等等等等的点点滴滴点点滴滴点点滴滴成纯纯粹粹纯纯粹粹纯纯粹粹纯纯粹粹vvvvvvvvvvvvvv拜拜拜拜拜拜拜拜拜拜拜拜拜拜拜拜拜拜吧男男女女男男女女男男女女男男女女密密麻麻密密麻麻密密麻麻密密麻麻命名吗iiiiiiiii凄凄切切凄凄切切凄凄切切凄凄切切去呜呜呜呜呜呜呜呜呜呜呜呜</string>
		<key>icon</key>
		<string>23</string>
		<key>name</key>
		<string>vv</string>
		<key>vip</key>
		<integer>0</integer>
		<key>picture</key>
		<string>9</string>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子乒乒乓乓乒乒乓乓乒乒乓乓乒乒乓乓乒乒乓乓拍拍拍哦哦噢噢噢噢噢噢噢噢噢噢噢噢噢噢噢噢零零落落零零落落零零落落零零落落零零落落零零落落零零落落密密麻麻密密麻麻密密麻麻密密麻麻密密麻麻密密麻麻命名男男女女男男女女男男女女男男女女男男女女宝贝宝贝宝贝宝贝宝贝宝贝宝贝吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃</string>
		<key>icon</key>
		<string>5</string>
		<key>name</key>
		<string>方法v</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>23</string>
		<key>name</key>
		<string>你能</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>哈哈哈哈</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>你能能能</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>叫撒娇的卡萨诺小卡是几滴阿苏从济南市召开才能看世界之窗开着车在市场啊身材aside爱上次啊好诗词还是错his从hi上致辞时在沉思之处市场还是还是此女子</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>哈哈哈哈</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>20</string>
	</dict>
</array>
</plist>
