<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>1</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>1</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>1</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>1</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飒飒</string>
				<key>intro</key>
				<string>是你就说你觉得你撒加拿大籍阿森纳的技能撒加拿大籍那是</string>
				<key>vip</key>
				<integer>0</integer>
				<key>icon</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
