<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>不想上课</string>
		<key>time</key>
		<string>昨天10:20</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我也</string>
		<key>time</key>
		<string>昨天10:20</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>垃圾学校毁我青春</string>
		<key>time</key>
		<string>昨天10:21</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那上课偷学代码呀</string>
		<key>time</key>
		<string>昨天10:22</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>回来月薪一万吓死人</string>
		<key>time</key>
		<string>昨天10:23</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你等着吧</string>
		<key>time</key>
		<string>昨天10:24</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>明年秋招，我走定了</string>
		<key>time</key>
		<string>昨天10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你真几把墨迹，赶紧学习，学一些有用的东西，不然毕业直接失业，找学校也没有用。学校还会强制要求你，强迫要求你签约三方，也不知道给你安排了什么狗屎垃圾都没人干的活儿</string>
		<key>time</key>
		<string>昨天10:25</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>老兄弟，我也知道，但是还是不知道该干啥？希腊语真他妈垃圾，什么狗屁学校，把我们当成摇钱树，当成小白鼠，当初就是听书因为是第一届，所以会有很多福利。什么大使馆工作，什么公派名额，都是狗屁，放他妈的臭皮。哎，都是，一切都是命运之门的选择。为什么是我？！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！</string>
		<key>time</key>
		<string>昨天10:27</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>一切都是命运石之门的选择，，，，既然已经选择，，抑或是被选择，但是我们还有一年时间给命运打一个翻身仗，所以，你加油吧。。。。建议你先画一个思维导图，好好审视一下自己，这样可以帮你做出现人生中最大的选择。不过还是那句话，你的人生你自己负责，自己选择，自己探索</string>
		<key>time</key>
		<string>昨天10:29</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
